.section2 {
    padding: 65px 20px 130px;
}
.m_tit {
    display: inline;
    font-family: "NSL";
    font-size: 50px;
    font-weight: 400;
    box-shadow: inset 0 -26px #e5f2f8;
}
.m_tit > span {
    font-weight: 700;
}
.section2_left, .section2_right {
    float: left;
    margin-top: 90px;
}
.section2_left {
    position: relative;
    width: 72%;
}
.section2_right {
    float: right;
    width: 25%;
}
.section2_tab {
    margin-bottom: 20px;
}
.section2_tab ul > li.on {
    border-radius: 40%;
}
.section2_tab ul > li {
    display: inline-block;
    position: relative;
    height: 45px;
    padding: 0 20px;
}
.section2_tab ul > li.on:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    background-color: #0a84e2;
    border-radius: 50%;
    content: '';
    z-index: 0;
}
.section2_tab ul > li.on:after {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background-color: #0a84e2;
    border-radius: 50%;
    content: '';
    z-index: 0;
}
.section2_tab ul > li.on > a {
    font-family: 'NSEB';
    color: #fff;
    background-color: #0a84e2;
}
.section2_tab ul > li > a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    line-height: 45px;
    font-size: 23px;
    color: #777;
    z-index: 1;
}
.section2_more {
    display: block;
    position: absolute;
    top: 8px;
    right: 0px;
}
.section2_more .on {
    display: inline-block;
    font-size: 19px;
}
.section2_more > a {
    display: none;
}
.more > span {
    display: inline-block;
    width: 26px;
    height: 26px;
    margin-left: 8px;
    text-indent: -9999px;
    background: #777 url(../images/icon_plus.png) no-repeat center center;
    border-radius: 50%;
    vertical-align: bottom;
}
.section2_ct {
    background-color: #FFF;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    box-shadow: 5px 6px #e9e9e9;
}
.section2_board:first-child {
    display: block;
}
.section2_board {
    display: none;
    padding: 57px 35px;
}
.section2_board > a {
    display: block;
    float: left;
    width: 240px;
    margin-right: 30px;
    line-height: 1.5;
}
.section2_board .new_tit > em {
    color: #555;
}
.section2_board .new_tit > p {
    display: -webkit-box;
    overflow: hidden;
    margin-top: 16px;
    height: 116px;
    line-height: 1.25;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1.6px;
}
.section2_board .new_ct {
    display: -webkit-box;
    overflow: hidden;
    height: 70px;
    margin-top: 70px;
    color: #555;
    white-space: normal;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}
.section2_board .gallery_tit > p {
    overflow: hidden;
    width: 248px;
    height: 186px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.section2_board .gallery_tit > p img {
    width: 100%;
    height: auto;
}
.section2_board .gallery_ct {
    height: 45px;
    line-height: 45px;
    margin-top: 0;
    -webkit-line-clamp: 1;
}
.section2_right .slideArea {
    width: 100%;
}
.section2_right .slide_top {
    margin: 17px 0 15px;
}
.section2_right .slide_top > p {
    line-height: 1;
}
.section2_right .slide_top em {
    font-size: 35px;
    color: #0a84e2;
}
.section2_right .slide_top span {
    font-size: 20px;
}
.section2_right .control_btn {
    position: absolute;
    bottom: 10px;
    right: 0;
}
.section2_right .control_btn > button {
    text-indent: -9999px;
    background-image: url(../images/button.png);
    background-repeat: no-repeat;
    background-color: transparent;
    vertical-align: top;
}
.section2_right .control_btn .prev_btn {
    display: inline-block;
    width: 15px;
    height: 22px;
    background-position: 0 0;
}
.section2_right .control_btn .both_btn {
    display: inline-block;
    width: 13px;
    height: 22px;
    margin: 0 20px;
    background-position: -3px -24px;
}
.section2_right .control_btn .next_btn {
    display: inline-block;
    width: 15px;
    height: 22px;
    background-position: -26px 0;
}
.web-slider {
    overflow: hidden;
}
.web-slider .slider-list {
    transform: translate3d(0px, 0px, 0px);
    transition: all 0.9s;
}
.web-slider .slider-list:after {
    content: "";
    display: block;
    clear: both;
}
.web-slider.type01 .item {
    width: 100%;
    max-height: 520px;
    float: left;
}
.web-slider.type01 .item a {
    display: block;
    margin: 2px;
}