/* header__wrap */
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    border-bottom: 1px solid #ccc;
    font-family: 'NexonLv1Gothic';
}
.header__logo {
    width: 20%;
}
.header__menu {
    width: 60%;
    text-align: center;
}
.header__menu li {
    display: inline-block;
}
.header__menu li a {
    display: inline-block;
    padding: 10px 30px;
}
.header__member {
    width: 20%;
    text-align: right;
}
.header__member a {
    border: 1px solid #000;
    padding: 10px 30px;
    border-radius: 50px;
    font-size: 16px;
}

/* 미디어쿼리 */
@media (max-width: 1200px){
    .header__menu li a {
        padding: 5px 20px;
    }
    .header__member a {
        padding: 5px 20px;
        font-size: 14px;
    }
}
@media (max-width: 960px){
    .header__menu li a {
        padding: 0 5px;
        font-size: 14px;
    }
}
@media (max-width: 600px){
    .header__logo {
        font-size: 14px;
    }
    .header__menu li a {
        display: none;
    }
    .header__member a {
        padding: 5px 10px;
        font-size: 12px;
    }
}