// movie__wrap
.movie__inner {
    height: 800px;
    h3 {
        font-size: 50px;
        margin-bottom: 40px;
    }
    p {
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 20px;
    }
    a {
        border-radius: 50px;
        margin-bottom: 60px;
    }
    .movie__item {
        @include flex-between;
        margin-top: 50px;
        position: absolute;
        .movie {
            width: 300px;
            margin-right: 20px;
            img {
                width: 100%;
            }
        }
    }
}

// movie__page
.movie__slider {
    display: none;
}
.movie__search {
    text-align: center;
    margin-bottom: 50px;
    input {
        border: 1px solid #E8ECF2;
        font-size: 16px;
        padding: 10px 20px;
        border-radius: 50px;
        min-width: 300px;
        margin-right: 10px;
    }
    button {
        @include button(#FF3344, #fff);
        border-radius: 50px;
    }
}
.movie__tag {
    ul {
        display: flex;
        justify-content: center;
        margin-top: 100px;
        margin-bottom: 50px;
        li {
            a {
                border: 1px solid #FF3344;
                padding: 10px 20px;
                margin: 0 10px;
                color: #FF3344;
            }
        }
    }
}
.movie__cont {
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 100px;
        li {
            width: 18%;
            margin-bottom: 4%;
            span {
                display: block;
                margin: 4px 0;
            }
        }
    }
}