#section5 {
    width: 100%;
}
#section5 .title {
    font-size: 60px;
    font-weight: 700;
    color: #2B38BF;
    display: inline-block;
    transform: rotate(-90deg);
}
#section5 .number {
    display: inline-block;
    font-size: 50px;
    font-weight: 700;
    color: #2B38BF;
    padding: 20px 50px;
}