// intro__wrap 
.intro__inner {
    display: flex;
    justify-content: space-between;
}
.intro__title {
    width: 33%;
    span {
        font-size: 14px;
        padding: 4px 30px 2px;
        background-color: #ff3344;
        border-radius: 40px;
        color: #fff;
        text-transform: uppercase;
        margin-bottom: 10px;
        display: inline-block;
    }
    h3 {
        font-size: 50px;
        line-height: 1.2;
        margin-bottom: 26px;
        margin-bottom: 30px;
    }
    p {
        font-size: 18px;
        line-height: 1.5;
        font-weight: 500;
    }
}
.intro__desc {
    width: 67%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    > div {
        width: 48%;
        margin-bottom: 40px;
        h4 {
            font-size: 24px;
            margin-bottom: 20px;
        }
        &:nth-child(3) {
            margin-bottom: 0;
        }
        &:nth-child(4) {
            margin-bottom: 0;
        }
    }
}

@media (max-width: 960px){
    .intro__title {
        width: 30%;
    }
    .intro__title p {
        font-size: 16px;
    }
    .intro__desc {
        width: 65%;
    }
}
@media (max-width: 600px){
    .intro__inner {
        text-align: center;
        display: block;
    }
    .intro__title {
        width: 100%;
        margin-bottom: 20px;
    }
    .intro__title p {
        display: none;
    }
    .intro__desc {
        width: 100%;
    }
    .intro__desc div h4 {
        font-size: 20px;
    }
    .intro__desc p {
        display: none;
    }
}