// movie__wrap
.movie__inner {
    height: 800px;
    h3 {
        font-size: 50px;
        margin-bottom: 40px;
    }
    p {
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 20px;
    }
    a {
        border-radius: 50px;
        margin-bottom: 60px;
    }
    .movie__item {
        @include flex-between;
        margin-top: 50px;
        position: absolute;
        .movie {
            width: 300px;
            margin-right: 20px;
            img {
                width: 100%;
            }
        }
    }
}

@media (max-width: 600px){
    .movie__inner {
        text-align: center;
    }
    .movie__inner p {
        display: none;
    }
    .movie__inner a {
        margin-bottom: 20px;
    }
    .movie__inner .movie__item .movie {
        width: 300px;
    }
}