// port__wrap
.port__inner {
    .port__btn {
        margin-bottom: 30px;
        button {
            width: 8%;
            background-color: #5f81d8;
            border: 1px solid #5f81d8;
            border-radius: 50px;
            margin: 10px;
            padding: 5px;
        }
        button.active {
            background-color: #3969e4;
            border: 1px solid #3969e4;
        }
    }
    .port__cont {
        @include flex-between;
        flex-wrap: wrap;
        .port {
            width: 32%;
            .port__header {
                margin-bottom: 10px;
                img {
                    width: 100%;
                }
            }
            .port__body {
                display: flex;
                align-items: center;
                justify-content: space-between;
                span {
                    border-radius: 50px;
                    img {
                        width: 50px;
                        height: 50px;
                    }
                }
                > div {
                    margin-top: 10px;
                    width: 80%;
                    text-align: left;
                    h4 {
                        margin-bottom: 5px;
                        font-size: 24px;
                    }
                    a {
                        color: #a0a0a0;
                    }
                    a:hover {
                        text-decoration: underline;
                        text-underline-position: under;
                    }
                }
            }
            &:nth-child(1), &:nth-child(2), &:nth-child(3) {
                margin-bottom: 50px;
            }
            &:nth-child(1) .port__body span {
                background-color: #c5a8a8;
            }
            &:nth-child(2) .port__body span {
                background-color: #c5c5a8;
            }
            &:nth-child(3) .port__body span {
                background-color: #a8c5ad;
            }
            &:nth-child(4) .port__body span {
                background-color: #a8bac5;
            }
            &:nth-child(5) .port__body span {
                background-color: #a8acc5;
            }
            &:nth-child(6) .port__body span {
                background-color: #bca8c5;
            }
        }
    }
}