// unsplash__wrap
.unsplash__inner {
    height: 600px;
    h3 {
        font-size: 50px;
        margin-bottom: 40px;
    }
    p {
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 20px;
    }
    a {
        border-radius: 50px;
        margin-bottom: 60px;
    }
    .unsplash__item {
        @include flex-between;
        margin-top: 50px;
        position: absolute;
        .unsplash {
            width: 400px;
            margin-right: 20px;
            img {
                width: 100%;
            }
        }
    }
}

@media (max-width: 600px){
    .unsplash__inner {
        text-align: center;
        height: 500px;
    }
    .unsplash__inner p {
        display: none;
    }
    .unsplash__inner a {
        margin-bottom: 20px;
    }
    .unsplash__inner .unsplash__item .unsplash {
        width: 300px;
    }
}
