// youtube__wrap
.youtube__inner {
    height: 600px;
    h3 {
        font-size: 50px;
        margin-bottom: 40px;
    }
    p {
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 20px;
    }
    a {
        border-radius: 50px;
        margin-bottom: 60px;
    }
    .youtube__item {
        @include flex-between;
        margin-top: 50px;
        position: absolute;
        .youtube {
            width: 400px;
            margin-right: 20px;
            iframe {
                width: 100%;
                border-radius: 20px;
            }
        }
    }
}

@media (max-width: 600px){
    .youtube__inner {
        text-align: center;
        height: 500px;
    }
    .youtube__inner p {
        display: none;
    }
    .youtube__inner a {
        margin-bottom: 20px;
    }
    .youtube__inner .youtube__item .youtube {
        width: 300px;
    }
}