@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    color: #333;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #333;
}
img {
    vertical-align: top;
}

#wrap {
    width: 100%;
}
.container {
    width: 1200px;
    margin: 0 auto;
    height: inherit;
}

/* header */
#header {
    width: 100%;
    height: 100px;
    background-color: #FFE4B5;
    position: relative;
    z-index: 1000;
}
#header .container {
    display: flex;
    align-items: end;
    position: relative;  
}
#header .container.on::after {
    content: '';
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 100px;
    z-index: -1;
    transition: all 0.6s;
}
#header .container.on::after {
    height: 190px;
}
#header .container .logo {
    width: 20%;
    padding: 25px 30px;
}
#header .container .nav {
    width: 80%;
    text-align: right;
}
#header .container .nav > ul {
    display: flex;
    justify-content: right;
}
#header .container .nav > ul > li {
    position: relative;
}
#header .container .nav > ul > li > a {
    display: block;
    padding: 15px 40px;
    font-size: 18px;
}
#header .container .nav > ul > li > ul {
    position: absolute;
    left: 0;
    top: 52px;
    text-align: center;
    /* background-color: rgba(0, 0, 0, 0.5); */
    width: 100%;
    padding-top: 10px;
    display: none;
}
#header .container .nav > ul > li > ul > li {}
#header .container .nav > ul > li > ul > li > a {
    color: #fff;
    padding: 10px;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
}
#header .container .nav > ul > li > ul > li > a:hover {
    background-color: #FFC04A;
}

/* slider */
#slider {
    width: 100%;
    height: 300px;
}
#slider .container {
    overflow: hidden;
}
#slider .slider__wrap {
    display: flex;
    width: 400%;
}
#slider .slider__wrap .slider {
    position: relative;
    width: 100%;
}
#slider .slider__wrap .slider .text {
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.3);
    padding: 25px 100px 25px 25px;
}
#slider .slider__wrap .slider .text h2 {
    color: #fff;
    font-size: 24px;
} 
#slider .slider__wrap .slider .text h2 span {
    color: #FFA726;
}
#slider .slider__wrap .slider .text p {
    color: #fff;
    font-size: 16px;
}

/* main */
#main {
    width: 100%;
    height: 200px;
}
#main .container {
    display: flex;
}
#main .container .notice {
    width: 40%;
    background-color: #FBE9CA;
    padding: 20px;
}
#main .container .notice h3 {
    font-size: 20px;
    margin-bottom: 10px;
    border-bottom: 2px solid #000;
    padding: 0 0 5px 0;
}
#main .container .notice li {
    display: flex;
    line-height: 1.8;
    position: relative;
    padding-left: 14px;
}
#main .container .notice li::before {
    content: '';
    width: 5px;
    height: 5px;
    background-color: #333;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 13px;
}
#main .container .notice li a {
    width: 70%;
}
#main .container .notice li a:hover {
    text-decoration: underline;
    text-underline-position: under;
}
#main .container .notice li span {
    width: 30%;
    text-align: right;
}
#main .container .gallery {
    width: 40%;
    background-color: #FFDA9B;
    padding: 20px;
}
#main .container .gallery h3 {
    font-size: 20px;
    margin-bottom: 10px;
    border-bottom: 2px solid #000;
    padding: 0 0 5px 0;
}
#main .container .gallery ul {
    display: flex;
    justify-content: space-between;
} 
#main .container .gallery li {}
#main .container .gallery li a {}
#main .container .banner {
    width: 20%;
    background-image: url(../images/banner02.jpg);
    text-align: center;
    position: relative;
    z-index: 1;
}
#main .container .banner::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #000;
    opacity: 0.5;
    z-index: -1;
}
#main .container .banner h3 {
    margin-top: 40px;
    font-size: 20px;
    margin-bottom: 15px;
    color: #fff;
}
#main .container .banner a {
    background-color: #674918;
    color: #fff;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 100px;
}
#main .container .banner a:hover {
    background-color: #ca8f31;
}

/* footer */
#footer {
    width: 100%;
    height: 100px;
    background-color: #C9B490;
}
#footer .container {
    display: flex;
}
#footer .container .footer1 {
    width: 80%;
}
#footer .container .footer1 .footer1-1 {
    width: 100%;
    height: 50px;
}
#footer .container .footer1 .footer1-1 li {
    display: inline;
    border-right: 1px solid #333;
}
#footer .container .footer1 .footer1-1 li:last-child {
    border: 0;
}
#footer .container .footer1 .footer1-1 li a {
    padding: 15px 10px 5px 0;
    display: inline-block;
}
#footer .container .footer1 .footer1-2 {
    width: 100%;
    height: 50px;
    padding-top: 10px;
    box-sizing: border-box;
}
#footer .container .footer2 {
    width: 20%;
}
#footer .container .footer2 select {
    margin-top: 34px;
    width: 100%;
    height: 30px;
}