@font-face {
    font-family: 'NanumBarunGothic';
    font-weight: 200;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NanumBarunGothic/NanumBarunGothic-UltraLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NanumBarunGothic/NanumBarunGothic-UltraLight.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/NanumBarunGothic/NanumBarunGothic-UltraLight.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/NanumBarunGothic/NanumBarunGothic-UltraLight.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/NanumBarunGothic/NanumBarunGothic-UltraLight.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'NanumBarunGothic';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NanumBarunGothic/NanumBarunGothic-Light.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NanumBarunGothic/NanumBarunGothic-Light.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/NanumBarunGothic/NanumBarunGothic-Light.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/NanumBarunGothic/NanumBarunGothic-Light.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/NanumBarunGothic/NanumBarunGothic-Light.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'NanumBarunGothic';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NanumBarunGothic/NanumBarunGothic-Regular.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NanumBarunGothic/NanumBarunGothic-Regular.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/NanumBarunGothic/NanumBarunGothic-Regular.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/NanumBarunGothic/NanumBarunGothic-Regular.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/NanumBarunGothic/NanumBarunGothic-Regular.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'NanumBarunGothic';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NanumBarunGothic/NanumBarunGothic-Bold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NanumBarunGothic/NanumBarunGothic-Bold.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/NanumBarunGothic/NanumBarunGothic-Bold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/NanumBarunGothic/NanumBarunGothic-Bold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/NanumBarunGothic/NanumBarunGothic-Bold.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'NanumSquare';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-Light.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-Light.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-Light.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-Light.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-Light.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'NanumSquare';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-Regular.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-Regular.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-Regular.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-Regular.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-Regular.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'NanumSquare';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-Bold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-Bold.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-Bold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-Bold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-Bold.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'NanumSquare';
    font-weight: 800;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-ExtraBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-ExtraBold.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-ExtraBold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-ExtraBold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-ExtraBold.ttf') format("truetype");
    font-display: swap;
} 

* {
    margin: 0;
    padding: 0;
    color: #222;
}
a {
    text-decoration: none;
    color: #222;
    vertical-align: baseline;
    background: transparent;
}
ul, li, ol {
    list-style: none;
}
img {
    max-width: 100%;
    vertical-align: top;
}
button {
    margin: 0;
    font: inherit;
    color: inherit;
    vertical-align: middle;
    cursor: pointer;
    border: 0;
}

#wrap {
    width: 100%;
    font-family: "NanumSquare";
    font-weight: 400;
}

.inner {
    position: relative;
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
}
.clear::after {
    content: '';
    display: block;
    clear: both;
}
.pos_r {
    position: relative;
}
.owl-carousel {
    display: block;
    width: 100%;
    z-index: 1;
}