@charset "UTP-8";

@import "setting/base.scss";
@import "section/section1.scss";
@import "section/section2.scss";
@import "section/section3.scss";
@import "section/section4.scss";
@import "section/section5.scss";
body {
    overflow-x: hidden;
}
.horizontal {
    width: 900%;
    display: flex;
}
#section6 {
    width: 100%;
    height: 100vh;
    background-color: #833737;
}
#section7 {
    width: 100%;
    height: 100vh;
    background-color: #b88585;
}
#section8 {
    width: 100%;
    height: 100vh;
    background-color: #3d0b0b;
}
#section9 {
    width: 100%;
    height: 100vh;
    background-color: #b91515;
}

#section10 {
    width: 100%;
    height: 100vh;
    background-color: #835757;
}
#section11 {
    width: 100%;
    height: 100vh;
    background-color: #72b915;
}
#section12 {
    width: 100%;
    height: 100vh;
    background-color: #15b959;
}
#section13 {
    width: 100%;
    height: 100vh;
    background-color: #7d15b9;
}
#section14 {
    width: 100%;
    height: 100vh;
    background-color: #15b95f;
}
#section15 {
    width: 100%;
    height: 100vh;
    background-color: #1593b9;
}

.horizontal2 {
    width: 300%;
    display: flex;
}
#section16 {
    width: 100%;
    height: 100vh;
    background-color: #88b915;
}
#section17 {
    width: 100%;
    height: 100vh;
    background-color: #b91554;
}
#section18 {
    width: 100%;
    height: 100vh;
    background-color: #157db9;
}