/* header */
#header {
    width: 100%;
}
#header .header__inner {
    width: 100%;
    height: 170px;
    background: #fff;
    position: relative;
    z-index: 999;
}
#header .header__inner .header__submenu {
    width: 100%;
    height: 55px;
    border-bottom: 1px solid #d0d3da;
}
#header .header__inner .header__submenu .container .left {
    float: left;
    width: 218px;
}
#header .header__inner .header__submenu .container .left a {
    min-width: 218px;
    height: 55px;
    border-left: 1px solid #d0d3da;
    border-right: 1px solid #d0d3da;
    text-align: center;
    line-height: 55px;
    font-size: 13px;
    color: #666666;
    font-weight: 500;
    display: inline-block;
}
#header .header__inner .header__submenu .container .right {
    float: right;
    height: 100%;
    display: flex;
}
#header .header__inner .header__submenu .container .right .membermenu {
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
}
#header .header__inner .header__submenu .container .right .membermenu li {
    margin-right: 20px;
    position: relative;
}
#header .header__inner .header__submenu .container .right .membermenu li:nth-child(1)::before {
    content: '';
    position: absolute;
    right: -15px;
    top: 15px;
    border: 1px solid #666;
    width: 10px;
    transform: rotate(90deg);
}
#header .header__inner .header__submenu .container .right .membermenu li a {
    font-size: 12px;
}
#header .header__inner .header__submenu .container .right .screen {
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #d0d3da;
    border-right: 1px solid #d0d3da;
    width: 132px;
}
#header .header__inner .header__submenu .container .right .screen li:nth-child(2) {
    padding: 0 10px;
}
#header .header__inner .header__submenu .container .right .screen li .button {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    font-size: 18px;
    color: #fff;
    background: #373f4c;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header .header__inner .header__mainmenu {
    width: 100%;
}
/* #header .header__inner .header__mainmenu:hover .group {
    height: 280px;
    padding-bottom: 70px;
} */
#header .header__inner .header__mainmenu .group {
    height: 116px;
    background: #fff url(../images/group.png) calc(50% - 576px) 118px no-repeat;
    transition: all 0.3s;
}
#header .header__inner .header__mainmenu .container {
    height: 116px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#header .header__inner .header__mainmenu .container > a {
    width: 15%;
    display: inline-block;
    text-align: center;
}
#header .header__inner .header__mainmenu .container > a > img {
    width: 177px;
}
#header .header__inner .header__mainmenu .container .menu {
    width: 65%;
    display: flex;
    justify-content: space-between;
}
#header .header__inner .header__mainmenu .container > .menu > li {
    height: 100%;
    margin-left: 50px;
    margin-right: 40px;
    position: relative;
}
#header .header__inner .header__mainmenu .container > .menu > li:first-child {
    margin-left: 0;
}
#header .header__inner .header__mainmenu .container > .menu > li > a {
    font-size: 20px;
    font-weight: 700;
    transition: all 0.2s;
    position: relative;
}
#header .header__inner .header__mainmenu .container > .menu > li > a::after {
    display: block;
    content: "";
    width: 0;
    height: 4px;
    background: #0081cc;
    position: absolute;
    bottom: -14px;
    left: 0;
    transition: all 0.2s;
}
#header .header__inner .header__mainmenu .container > .menu > li:hover > a {
    color: #0081cc;
}
#header .header__inner .header__mainmenu .container > .menu > li:hover > a::after {
    width: 100%;
}
#header .header__inner .header__mainmenu .container > .menu > li > .submenu {
    width: 100%;
    padding-top: 15px;
    position: absolute;
    top: 115px;
    left: 0;
    white-space: nowrap;
    display: none;
}
#header .header__inner .header__mainmenu .container > .menu > li > .submenu > li {
    position: relative;
    transition: all 0.3s;
}
#header .header__inner .header__mainmenu .container > .menu > li > .submenu > li:hover {
    margin-left: 20px;
}
#header .header__inner .header__mainmenu .container > .menu > li > .submenu > li:hover > a {
    color: #0081cc;
}
#header .header__inner .header__mainmenu .container > .menu > li > .submenu > li:hover > a::after {
    display: block;
    content: '';
    width: 8px;
    height: 8px;
    background: url(../images/submenu.png) center no-repeat;
    position: absolute;
    left: -15px;
    top: 7px;
    transition: all 0.2s;
}
